</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by <a href="https://www.linkedin.com/in/gulshan-kumar-3b0763205" id="footerLink">Gulshan Kumar</a></p>
  </div>
</div>
<script src="/js/contact.js"></script>
<script src="/js/tryAgain.js"></script>
</body>
</html>
