<%- include('partials/header.ejs') %>
<section class="sectionAbout" style="margin-top: 30px;">
    <div class = "imageAbout">
        <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
    </div>
    <div class = "contentAbout">
        <h2>About Us</h2>
        <span><!-- line here --></span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis aspernatur voluptas inventore ab voluptates nostrum minus illo laborum harum laudantium earum ut, temporibus fugiat sequi explicabo facilis unde quos corporis!</p>
        <ul class = "linksAbout">
            <li><a href = "#">work</a></li>
            <div class = "vertical-line"></div>
            <li><a href = "#">service</a></li>
            <div class = "vertical-line"></div>
            <li><a href = "#">contact</a></li>
        </ul>
        <ul class = "iconsAbout">
            <li>
                <a href="https://twitter.com/Gulshan33588874"><i class = "fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/1002_gulshan/"><i class = "fa fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://github.com/gulshan1002"><i class = "fa fa-github"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/gulshan-kumar-3b0763205/"><i class = "fa fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
</section><br><br>
<%- include('partials/footer.ejs') %>
