<%- include('partials/header.ejs') %>
<div class="contactus-container">
  <form action="/contact" method="post">
    <h3>CONTACT US</h3>
    <input type="text" name="name"  id="name" placeholder="Your name....." required>
    <input type="email" id="email" name="email" placeholder="Your email id..." required>
    <input type="tel" id="phone" name="phone" placeholder="Your phone no..." required>
    <textarea id="message" rows="4" name="message" placeholder="How can we help you...." required></textarea>
    <button type="submit" class="btn btn-primary">cick</button>
  </form>
</div>
<%- include('partials/footer.ejs') %>