<%- include('partials/header.ejs') %>
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Soon We will get in touch with you!</strong> Thank you for reaching us.</p>
    <hr>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="http://localhost:3000/" role="button">Continue to homepage</a>
    </p>
  </div>
<%- include('partials/footer.ejs') %>